<footer class="footer">
    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer_about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reiciendis, hic ullam rerum sapiente rem voluptate odio ducimus minus facilis. Alias provident dignissimos ipsum! Tempore velit modi autem at a?
            </p>
        </section>
        <address>
            <h2 class="footer_title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-duotone fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-square-whatsapp"></i>(00) 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; todos os direitos reservados
    </section>
</footer>
